/* https://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  /* display: flex; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Grid */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    padding: 0 25px; 
    padding: 0;
    text-align: center;
    position: relative;
}

#infoCon{
  /* text-align: left;*/
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.5);
    border-radius: 5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.title > h3{
  font-size: 20px;
}

#gameBoard, .row {
    display: flex;
    flex-flow: row wrap;     
}

#gameBoard {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 2px groove #000;
    box-sizing: content-box;
    background: #a8c899;
}

.gameOverGrid {
    margin: auto;
}

/* Game */

.pixel {
    width: 15px;
    height: 15px;
    box-sizing: border-box;
}

.snakePixel {
    background-color: #000;
}

.foodPixel {
    background-color: cyan;
}


.foodPixelRed {
  background-color: #211399;
}


.foodPixelBlue {
  background-color: #FF0033;
}

.foodPixelTotal {
  background-color: #000;
}

#gameOver {
    color: cornflowerblue;
    display: none;
}

.pixel:last-child {
    border-right: none;
}

.row:last-child .pixel {
    border-bottom: none;
}

/* Style */

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
}
.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* Typog */

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased;
}
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: Comic Sans MS;
  margin-top: 1rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}
h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.414rem;
}
h4 {
  font-size: 0.707rem;
}
h5 {
  font-size: 0.4713333333333333rem;
}
h6 {
  font-size: 0.3535rem;
}
/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}
/* Code blocks */
code {
  vertical-align: bottom;
}
/* Leading paragraph text */
.lead {
  font-size: 1.414rem;
}
/* Hug the block above you */
.hug {
  margin-top: 0;
}


.wholeDiv{
  display:flex;
  background-color: #c4d6a7;
}

.infoPart{
   /* float:right;  */
  display: flex; 
  flex:1;
  flex-direction: column;
}

#gamePart{
  /* float:left  */
  /* display: flex; */
  flex:1;
  margin-right: 20px;
  /* flex-shrink: 1; */
}

#facePart{
  margin: 0 10px 0 10px;
  padding: 0;
  /*  width: 50vw;
  height: 50vh; */
  display:flex;
  flex: 0.6;
 /*  justify-content:center;
  align-items: center; */
  position: relative;
  flex-direction: row;
}

#facePart > video, #facePart > canvas{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 25px;
  transform: rotateY(180deg);
}

#facePart > canvas{
  position: absolute; 
  float:right;
} 

#facePart > video{
  flex: 1;
}

.hinweis{
  flex:1;
  margin-left: 270px;
  font-family: Comic Sans MS;
  text-align: center;
  font-size: 20px;
}

.hinweis > p{
  font-size: 17px;
  line-height: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 12px;
  padding-left: 10px;
}

.connectCSS{
  margin-top: 15px;
}

#inputs{
  font-family: Comic Sans MS;
  background-color: #FFFFEE  ;
}

#connect{
  font-family: Comic Sans MS;
}

@media only screen and (max-width: 912px){
  .wholeDiv{
    display:flex;
    background-color: #FFF;
    flex-direction: column;
    flex: 100%;
    padding-right: 0px;
    margin: auto;
  }
  #infoPart{
    display:inline;
    flex-direction: row;
    margin-bottom: 30px;
    width: 100%;
  }
  h3{
    text-align: center;
  }
  .hinweis{
    margin-bottom: auto;
    width: 50vw;
  }
  #facePart > video, #facePart > canvas{
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 45px;
    margin-top: 0;
  }
  #gamePart{
    margin-top: 60px;   
  }
}

#settings{
  display: flex; 
  flex-direction: row;
  font-family: Comic Sans MS;
  border: 2px solid #000;
  padding: 15px 10px 15px 10px;
  position: fixed;
  top: 385px;
    /* text-align: center; */
  left: 55px;
  padding: 10px;
}

#settings > select{
  margin: 10px;
}

.farben{
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 5px 5px 0 5px;
  margin: 8px 10px 0 10px;
}

#actualEmotion{
  font-family: Comic Sans MS;
  font-size: 17px;
  display: flex;
  flex-flow: row;
}

div#actualIcons {
  margin: 35px 10px 0 5px;
  font-size: 45px;
  margin-top: 0rem
}

